# API
ServerPort=

# ENV
ENV=

# DATABASE
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# CORS
CLIENT_ORIGIN=

# PGADMIN
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# NEWRELIC
APP_NAME=
NEW_RELIC_API_KEY=

# REDIS
REDIS_URL=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=